@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&family=VT323&display=swap');

*{
margin: 0;
padding: 0;
font-weight: 400;
}


:root {
    --preto: #000000;
    --laranja: #FFDBBB;
    --azul-rico: #0d1b2aff;
    --azul-oxford: #1b263bff;
    --azul-claro: #415a77ff;
    --lago-cinza: #778da9ff;
    --platina: #e0e1ddff;
    --fonte-primaria: "UnifrakturMaguntia", cursive;
    --fonte-secundaria: "VT323", monospace;
}

body{
    background-color: var(--lago-cinza);
    color: var(--platina);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--fonte-secundaria);

}
.caixa-principal{
    background-color: var(--azul-oxford);
    width: 90%;
    text-align:center;
    padding: 20px;
}
.titulo{
    font-family: var(--fonte-primaria);
}

button{
    background-color: var(--lago-cinza);
    color: var(--preto);
    border: solid 2px var(--azul-rico);
    border-radius: 15px;
    padding: 15px;
    margin: 10px auto;
    transition: 0.3s;

}

button:hover{
    background-color: var();
}